<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


    <display-name>hiresenseapp</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.rishbootdev.hiresenseapplication.dbutils.AppInitializer</listener-class>
    </listener>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/hiresense_db</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>appName</param-name>
        <param-value>HireSense</param-value>
    </context-param>
    <servlet>
        <servlet-name>SendRegisterOTPServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.SendRegisterOTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendRegisterOTPServlet</servlet-name>
        <url-pattern>/SendRegisterOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyRegisterOTPServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.VerifyRegisterOTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyRegisterOTPServlet</servlet-name>
        <url-pattern>/VerifyRegisterOTPServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminPanelServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.AdminPanelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPanelServlet</servlet-name>
        <url-pattern>/AdminPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveJobServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.RemoveJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveJobServlet</servlet-name>
        <url-pattern>/RemoveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.BlockUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnblockUserServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.UnblockUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnblockUserServlet</servlet-name>
        <url-pattern>/UnblockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployerDashboardServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.EmployerDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployerDashboardServlet</servlet-name>
        <url-pattern>/EmployerDashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.PostJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/PostJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewApplicantsServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.ViewApplicantsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewApplicantsServlet</servlet-name>
        <url-pattern>/ViewApplicantsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ToggleJobStatusServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.ToggleJobStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToggleJobStatusServlet</servlet-name>
        <url-pattern>/ToggleJobStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDashboardServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.UserDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDashboardServlet</servlet-name>
        <url-pattern>/UserDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadResumeServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.UploadResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadResumeServlet</servlet-name>
        <url-pattern>/UploadResumeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApplyJobServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.ApplyJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyJobServlet</servlet-name>
        <url-pattern>/ApplyJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadResumeServlet</servlet-name>
        <servlet-class>org.rishbootdev.hiresenseapplication.controllers.DownloadResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadResumeServlet</servlet-name>
        <url-pattern>/DownloadResumeServlet</url-pattern>
    </servlet-mapping>

</web-app>